body{
    font-family: 'Pushster', cursive;
}
h1{
    font-size:50px;

}
.one{
    color:rgb(164, 214, 27);
}
.half-width{
    width:50%;
    padding:5%;
}
.half-width img{
    width:80%;
}
section{
    display: flex;
}